In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("insuranceFraud.csv")
df.shape

(1000, 39)

In [5]:
df = df.sample(500)
df.shape

(500, 39)

In [8]:
df.to_csv("data.csv", index=False)
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
450,33,32,263159,3/7/2008,OH,100/300,500,1402.78,5000000,469383,...,1,?,56070,6230,12460,37380,Toyota,Camry,2012,N
501,26,39,493161,1/30/1992,IN,250/500,1000,770.76,0,433155,...,2,?,49800,9960,4980,34860,Mercedes,ML350,2015,N
245,371,51,513099,10/15/2005,IN,500/1000,1000,1532.47,0,452587,...,3,YES,75400,7540,15080,52780,Dodge,RAM,2012,Y
906,225,43,221186,8/13/2004,OH,100/300,1000,1517.54,0,617883,...,0,YES,64400,6440,6440,51520,BMW,X5,2011,N
624,127,31,856153,7/9/2002,OH,500/1000,500,1255.02,0,462250,...,0,NO,6160,560,1120,4480,Nissan,Ultima,1996,N