In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("insuranceFraud.csv")
df.shape

(1000, 39)

In [4]:
df = df.sample(500)
df.shape

(500, 39)

In [5]:
df.to_csv("data.csv", index=False)
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
535,65,23,876699,12/12/1999,OH,250/500,1000,1099.95,0,473109,...,0,YES,52400,6550,6550,39300,Accura,MDX,2005,Y
614,131,33,432740,10/9/1990,IL,100/300,2000,1081.17,0,445120,...,1,NO,4900,490,490,3920,Toyota,Camry,2010,N
972,232,44,221854,10/3/1994,OH,250/500,2000,1181.64,0,454552,...,1,YES,55400,5540,11080,38780,Jeep,Grand Cherokee,2002,Y
476,67,29,662256,11/13/1995,IL,250/500,1000,1861.43,0,461514,...,3,YES,63800,6380,6380,51040,Saab,92x,1998,Y
206,128,32,547744,7/8/2001,OH,100/300,2000,768.91,0,443522,...,0,NO,59800,5980,5980,47840,Ford,F150,1999,Y

In [ ]:
for col in df:
    print(df[col].counts())

months_as_customer
140    6
194    6
230    5
103    5
143    5
      ..
192    1
352    1
338    1
132    1
157    1
Name: count, Length: 293, dtype: int64
age
30    25
39    25
34    24
43    21
33    21
29    20
37    20
42    20
40    18
31    18
35    17
38    17
32    17
41    17
27    16
47    16
44    16
46    16
45    15
28    12
36    12
55    11
26    10
48    10
49     8
23     7
57     7
54     7
53     6
50     5
25     5
58     5
60     5
24     5
56     4
61     4
21     4
51     4
59     2
62     2
52     1
22     1
19     1
20     1
64     1
63     1
Name: count, dtype: int64
policy_number
876699    1
432740    1
221854    1
662256    1
547744    1
         ..
601042    1
684653    1
437442    1
277767    1
347984    1
Name: count, Length: 500, dtype: int64
policy_bind_date
8/5/1992     3
9/19/1995    2
9/20/1990    2
1/3/2004     2
3/11/2010    2
            ..
4/28/2005    1
1/21/2002    1
2/24/2012    1
9/26/1991    1
4/24/1995    1
Name: count, Length: 486, dtype: int64
policy_state
OH    180
IN    163
IL    157
Name: count, dtype: int64
policy_csl
100/300     185
250/500     173
500/1000    142
Name: count, dtype: int64
policy_deductable
1000    177
500     174
2000    149
Name: count, dtype: int64
policy_annual_premium
1524.45    2
1281.25    2
1389.13    2
1362.87    2
1430.80    1
          ..
1425.54    1
1665.45    1
1223.39    1
1082.49    1
1559.34    1
Name: count, Length: 496, dtype: int64
umbrella_limit
0          393
5000000     30
6000000     28
4000000     24
7000000     16
3000000      6
2000000      2
8000000      1
Name: count, dtype: int64
insured_zip
446895    2
431202    2
469429    2
456602    2
466818    1
         ..
475847    1
445853    1
452218    1
606714    1
448912    1
Name: count, Length: 496, dtype: int64
insured_sex
FEMALE    259
MALE      241
Name: count, dtype: int64
insured_education_level
High School    88
JD             85
Associate      73
College        70
MD             67
Masters        59
PhD            58
Name: count, dtype: int64
insured_occupation
prof-specialty       47
craft-repair         47
armed-forces         41
machine-op-inspct    39
other-service        38
sales                37
tech-support         37
priv-house-serv      36
exec-managerial      36
protective-serv      34
transport-moving     32
adm-clerical         30
farming-fishing      25
handlers-cleaners    21
Name: count, dtype: int64
insured_hobbies
bungie-jumping    35
exercise          34
reading           32
yachting          28
kayaking          28
paintball         28
skydiving         27
video-games       27
movies            26
camping           26
dancing           25
hiking            24
sleeping          22
golf              22
base-jumping      22
board-games       22
polo              21
chess             20
cross-fit         18
basketball        13
Name: count, dtype: int64
insured_relationship
own-child         101
husband            91
other-relative     88
wife               84
not-in-family      70
unmarried          66
Name: count, dtype: int64
capital-gains
0        271
75800      3
67800      3
58500      3
63600      3
        ...
53900      1
27000      1
63100      1
61900      1
43100      1
Name: count, Length: 190, dtype: int64
capital-loss
 0        235
-49200      4
-45300      4
-31700      3
-61000      3
         ...
-74200      1
-40300      1
-31900      1
-38700      1
-54100      1
Name: count, Length: 217, dtype: int64
incident_date
2/17/2015    17
1/12/2015    16
2/2/2015     14
1/21/2015    14
1/18/2015    14
1/19/2015    13
2/24/2015    13
2/12/2015    12
1/24/2015    12
1/15/2015    11
2/4/2015     11
1/14/2015    11
1/13/2015    11
2/23/2015    11
2/6/2015     10
1/6/2015     10
1/1/2015     10
1/10/2015    10
2/22/2015    10
2/1/2015     10
1/22/2015    10
1/17/2015     9
1/31/2015     9
2/8/2015      9
2/28/2015     9
1/8/2015      9
2/5/2015      9
1/28/2015     8
1/4/2015      8
2/13/2015     8
2/21/2015     8
2/15/2015     8
1/9/2015      8
2/25/2015     7
1/7/2015      7
1/16/2015     7
2/16/2015     7
1/30/2015     7
1/23/2015     7
1/26/2015     7
3/1/2015      6
2/26/2015     6
2/14/2015     6
1/2/2015      6
2/3/2015      6
2/20/2015     6
1/3/2015      6
2/27/2015     6
2/9/2015      5
1/29/2015     5
2/11/2015     5
2/7/2015      5
1/27/2015     5
2/19/2015     5
2/18/2015     5
1/20/2015     4
1/11/2015     4
2/10/2015     4
1/5/2015      3
1/25/2015     1
Name: count, dtype: int64
incident_type
Multi-vehicle Collision     212
Single Vehicle Collision    202
Vehicle Theft                47
Parked Car                   39
Name: count, dtype: int64
collision_type
Side Collision     151
Rear Collision     145
Front Collision    118
?                   86
Name: count, dtype: int64
incident_severity
Minor Damage      191
Major Damage      144
Total Loss        123
Trivial Damage     42
Name: count, dtype: int64
authorities_contacted
Police       167
Fire         106
Ambulance     97
Other         94
Name: count, dtype: int64
incident_state
SC    132
NY    129
WV    108
VA     52
NC     52
PA     17
OH     10
Name: count, dtype: int64
incident_city
Northbend      82
Springfield    76
Hillsdale      75
Arlington      74
Riverwood      65
Northbrook     65
Columbus       63
Name: count, dtype: int64
incident_location
9611 Pine Ridge          1
3246 Britain Ridge       1
1320 Flute Lane          1
7693 Cherokee Lane       1
3743 Andromedia Ridge    1
                        ..
4885 Oak Lane            1
4577 Sky Hwy             1
6179 3rd Ridge           1
5778 Pine Ridge          1
6658 Weaver St           1
Name: count, Length: 500, dtype: int64
incident_hour_of_the_day
19    27
15    26
8     26
17    25
6     24
21    24
18    24
4     24
23    24
14    23
0     23
3     22
20    20
7     20
13    20
16    19
1     19
10    19
12    18
22    17
9     17
11    15
2     13
5     11
Name: count, dtype: int64
number_of_vehicles_involved
1    288
3    184
2     14
4     14
Name: count, dtype: int64
property_damage
?      190
NO     169
YES    141
Name: count, dtype: int64
bodily_injuries
1    172
2    169
0    159
Name: count, dtype: int64
witnesses
0    127
1    127
2    127
3    119
Name: count, dtype: int64
police_report_available
NO     172
?      166
YES    162
Name: count, dtype: int64
total_claim_amount
50800    3
59400    3
64800    3
7080     3
53460    3
        ..
39720    1
74360    1
90860    1
6100     1
57200    1
Name: count, Length: 428, dtype: int64
injury_claim
0        15
640       6
13520     4
1180      4
1240      3
         ..
1120      1
17400     1
11840     1
11000     1
6380      1
Name: count, Length: 381, dtype: int64
property_claim
0        8
13260    3
5220     3
10520    3
860      3
        ..
12820    1
13240    1
4080     1
4510     1
560      1
Name: count, Length: 381, dtype: int64
vehicle_claim
45360    4
44800    4
52290    3
44520    3
3360     3
        ..
34400    1
63600    1
45840    1
47600    1
54740    1
Name: count, Length: 421, dtype: int64
auto_make
Jeep          42
Chevrolet     42
Saab          41
Dodge         40
Suburu        40
Toyota        39
Nissan        38
Accura        37
Ford          37
Audi          34
Honda         30
Mercedes      29
BMW           26
Volkswagen    25
Name: count, dtype: int64
auto_model
Wrangler          29
RAM               22
MDX               20
Malibu            20
Legacy            18
Neon              18
A5                18
Pathfinder        17
95                17
Civic             16
A3                16
Camry             16
Forrestor         14
Fusion            13
Grand Cherokee    13
E400              13
93                13
Maxima            13
Jetta             13
Silverado         12
F150              12
Corolla           12
TL                12
Passat            12
Escape            12
92x               11
Highlander        11
Tahoe             10
CRV                8
Ultima             8
C300               8
3 Series           8
ML350              8
Impreza            8
X6                 6
X5                 6
Accord             6
M5                 6
RSX                5
Name: count, dtype: int64
auto_year
1999    31
2011    31
2002    30
2010    29
2005    29
2006    28
2013    27
2009    26
2007    26
2003    25
1996    23
2000    23
1995    23
2008    22
2014    21
2015    21
1998    20
2004    18
1997    18
2001    15
2012    14
Name: count, dtype: int64
fraud_reported
N    385
Y    115
Name: count, dtype: int64